<div class="container">
  <div class="py-5 text-center">
    <img width="100px" src="logo-youtube.png">
    <h1>Broadcasts Online</h1>
    <p class="lead">Selecione a Live para ver os comentários</p>
    <p class="lead">{{lives.error}}</p>
  </div>

  <div class="row">
    <div class="col-12">
      {{#each lives}}
      <a href="/broadcast/comments/{{this.code}}" class="mt-3 btn btn-lg btn-outline-dark btn-block">{{@key}}:
        {{this.title}}</a>
      {{/each}}
    </div>
  </div>
</div>