
<div class="container">
  <div class="py-5 text-center">
    {{!-- <img src="logo-nd.png"> --}}
    <h1>Broadcasts Online</h1>
    <p class="lead">Selecione a Live para ver os comentários</p>
    <p class="lead">{{lives.error}}</p>
  </div>

  <div class="row">
    <div class="col-12">
      <ul class="list-group">
          {{#each lives}}
        <li class="list-group-item active">{{this.title}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
