<div class="container">
  <div class="py-5 text-center">
    <img style='width:250px' src="logo-nd.png">
    <h1>Pegador Comentários YouTube</h1>
    <p class="lead">Conecte a conta do YouTube para começar</p>
  </div>

  <div class="row">
    <div class="col-12">
      <a href="{{url.consentURL}}" class="mt-3 btn btn-lg btn-outline-dark btn-block">Selecionar conta</a>
    </div>
  </div>
</div>
