<div class="container">
  <div class="py-5 text-center">
    {{!-- <img src="logo-nd.png"> --}}
    <h1>Consuming YouTube API</h1>
    <p class="lead">Just insert the YouTube account that has a live stream running to start.</p>
  </div>

  <div class="row">
    <div class="col-12">
      <a href="auth" class="mt-3 btn btn-lg btn-primary btn-block">Login</a>
    </div>
  </div>
</div>